@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Red+Hat+Display:wght@300&family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --main-theme: #aaaaaa;
  --accent: #3ad8ff;
  --good: rgb(33, 255, 89);
  --bad: rgb(255, 56, 56);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./mainbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.App{
  background-color: rgba(0,0,0,0.85);
  padding: 0;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  cursor: pointer;
  font-family: 'Gruppo', cursive;
  color: var(--accent);
  font-size: 150px;
  margin: 50px 0px 50px 0px;
  filter: drop-shadow(0 0 0 rgba(0,0,0,0));
  transition: filter 0.5s
} 

.App-header h1:hover {
  filter: drop-shadow(20px 20px 10px rgba(0,0,0,0.7));
}

.App-header h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 25px
} 

textarea { 
  font-family:'EB Garamond', serif;
  /* font-size: 15px; */
  
  resize: none; 
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.selection {
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: color 0.3s, border-top 0.3s, border-bottom 0.3s
}

.selection:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}

