/* @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Tajawal:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Red+Hat+Display:wght@300&family=Tajawal:wght@300&display=swap');

:root {
  --main-theme: #aaaaaa;
  --accent: rgb(58, 216, 255);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./mainbg.png");
  background-size: cover;
  background-position: center center;
}

.App {
  background-color: rgba(0,0,0,0.85);
  padding: 0;
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  /* font-family: 'Tajawal', sans-serif; */
  font-family: 'Gruppo', cursive;
  color: var(--accent);
  font-size: 150px;
  margin: 50px 0px 50px 0px;
} 

.App-header h2 {
  font-family: 'Red Hat Display', sans-serif;
} 

textarea { 
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  
  resize: none; 
  /* border: none; */
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}